
.header-text {
    color: rgb(18, 233, 29);
}
.header-font {
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
}
.body-text {
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
}
.resume-size {
    font-size: x-large;
    font-weight: bold;
}
.center-mine {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }